= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :visibility, collection: Group.visibilities.keys.map(&:to_sym), default: :visible_to_member
    = f.input :participation

  .form-actions
    = f.button :submit
