= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :visibility, collection: Group::RELATIONSHIPS, label_method: ->(x) {"Visible to #{x}s"}, value_method: ->(x) {"visible_to_#{x}"}, default: :visible_to_member
    = f.input :participation

  .form-actions
    = f.button :submit
