.row[group]
  %h1#group-title.title= group.title
  %p#notice= notice

  %p
    = group.visibility
  %p
    %b Participation:
    = group.members
  .actions
    = group.detail_actions(current_user)

    = link_to 'Back', groups_path
